a {
  cursor: pointer;
}

@media (min-width: 576px) {
  // .modal-dialog {
  //   max-width: 80%;
  // }
}

.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}

.w-100-px {
  width: 100px;
}
.w-150-px {
  width: 150px;
}
.w-200-px {
  width: 200px;
}

.pages-top {
  .dropdown-menu {
    width: 200px;
    margin: auto -100px;
    min-height: 150px;
    height: 100%;
  }
}

pell-editor {
  width: 100%;
}

card {
  #text-output {
    min-height: calc(55vh - 100px);
    height: auto;
  }
}

.angular-editor-wrapper {
  .angular-editor-textarea {
    padding: 0 2em !important;
  }
}
