/* You can add global styles to this file, and also import other style files */

.required-asterisk{
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
}

.required-pushbutton{
    color: blue;
    font-weight: bold;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4pm;
}
